.welcome-page .card-group {
  margin: 3rem auto 8rem;
  max-width: 70rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.welcome-page .card-group .card {
  padding: 1rem;
}

.welcome-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2.5rem;
}

.welcome-hero h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.2;
  color: #fff;
}

.welcome-hero p {
  font-size: 1.25rem;
  max-width: 600px;
  margin: 0 auto;
}

.welcome-hero h1 {
  color: rgb(41 42 37 / 1);
}
.dark .welcome-hero h1 {
  color: rgb(255 255 255 / 1);
}
.welcome-hero p {
  color: rgb(83 85 79 / 1);
}
.dark .welcome-hero p {
  color: rgb(162 164 158 / 1);
}